<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Login Page</h1>
    <div class="form-container">
      <form action="/user/login" method="POST">
        
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div>
          <label for="password">Full Name</label>
          <input type="password" name="password" id="password" minlength="4" />
        </div>

        <button type="submit">SignUp</button>
      </form>
    </div>
  </body>
</html>
